@font-face {
    font-family: myFont;
    src: url(paladins/paladins.ttf);
}
@font-face {
    font-family: myFont2;
    src: url(power_broker/powerbroker.ttf);
}
@font-face {
    font-family: myFont3;
    src: url(lemon_milk/LEMONMILK-Regular.otf);
}
@media only screen and (min-width: 431px) {
.header{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(128, 128, 128, 0.305);
    width: auto;
    height:50%;
    font-family:myFont;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header-text{
    font-size: 3em;
    color: white;
    display: flex;
}
.logo-uri{
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: row;
    
}
.logo-insta{
    position: relative;
    height: auto; 
       
}
.logo-wapp{
   position:relative;
   padding-left: 40px;
}

.text-int{
    position: relative;
    color: white;
    font-family:'Montserrat', sans-serif;
    width: 650px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    padding-right: 150px;
}
.introducere{
    display: flex;
    flex-direction: row;
    position: relative;
    width: fit-content;
    height: fit-content;
    top: 150px;
    align-items: center;
}
.poza-adi{
    position: relative;
}
.oferte-header{
    display: flex;
    flex-direction: column;
    position: relative;
    width: fit-content;
    color: white;
    font-family:myFont3;
    font-size: 45px;
    left: 35%;
    top:380px;

}
.oferte{
    display: flex;
    flex-direction: row;
    position: relative;
    width: fit-content;
    color: white;
    font-family:'Montserrat', sans-serif;
    font-size: 30px;
    
    left: 18%;
    top: 530px;
}
.oferta-fizic{
    
    position: relative;
    margin-right: 300px;
    background-color: rgba(128, 128, 128, 0.206);
    padding: 35px;
    box-shadow: 0 0 8px 8px rgba(128, 128, 128, 0.206);
}
.oferta-online{
    position: relative;
    background-color: rgba(128, 128, 128, 0.206);
    padding: 35px;
    box-shadow: 0 0 8px 8px rgba(128, 128, 128, 0.206);

}
.titlu-fizic{
    position: relative;
    font-size: 40px;
    padding-bottom: 30px;
    left: 35px;
}
.titlu-online{
    position: relative;
    font-size: 40px;
    padding-bottom: 30px;
    left: 35px;
    
}
.titlu-rezultate{
    display: flex;
    flex-direction: wrap;
    position: relative;
    width:fit-content;
    color: white;
    font-family:myFont3;
    font-size: 45px;
    top:750px;
    left: 28%;
}
.rezultate{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    top: 900px;
    padding-bottom: 100px;
    
}
.closing{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 800px;
    color: white;
    font-family: myFont3;
    font-size: 34px;
    top: 1050px;
    left: 29%;
    padding-bottom: 200px;
}
.closing-title{
    position: relative;
    display: flex;
    font-size: 50px;
    justify-content: center;
    padding-bottom: 50px;
    font-family: myFont3;
}

.contact-form{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 700px;
    height: fit-content;
    color: white;
    font-family: myFont3;
    font-size: 25px;
    top:1000px;
    left: 29%;
    padding-bottom: 100px;
}
form{
    background-color: rgba(128, 128, 128, 0.206);
    box-shadow: 0 0 8px 8px rgba(128, 128, 128, 0.206);
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
}
form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background-color: rgba(128, 128, 128, 0.064);
    color: rgb(255, 255, 255);
    font-size: 20px;
}
form button{
    padding: 21px;
    background-color: rgba(128, 128, 128, 0.206);
    color: white;
    font-size: 22px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: fit-content;
    border-radius: 5px;
    align-self: center;
}
}

@media only screen and (width<430px) {
    body{
        background-size:cover ;
        width: auto;
    }
    .header{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgba(128, 128, 128, 0.305);
        width: auto;
        height:70px;
        font-family:myFont;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }
    .header-text{
        font-size: 18px;
        color: white;
        display: flex;
    }
    .logo-uri{
        position: relative;
        width: fit-content;
        display: flex;
        flex-direction: row;
        scale: 0.6;
        left: 20px;
        
    }
    .logo-insta{
        position: relative;
        height: auto;
        margin-right: 20px; 
           
    }
    .logo-wapp{
       position:relative;
    }
    
    .text-int{
        position: relative;
        color: white;
        font-family:'Montserrat', sans-serif;
        width: 600px;
        font-size: 40px;
        display: flex;
        flex-direction: column;
      padding-bottom: 30px;
      text-align: center;
        
        
        
    }
    .introducere{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        align-items: center;
        scale: 0.5;
        top: -250px;
    }
    .poza-adi{
        top: 100px !important;
        position: relative !important;
    
    }
    .oferte-header{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 250px;
        color: white;
        font-family:myFont3;
        font-size: 40px;
        left: 20%;
        top:-380px;
        text-align: center;
    
    }
    .oferte{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 350px;
        color: white;
        font-family:'Montserrat', sans-serif;
        font-size: 20px;
        left: 2%;
        top:-290px;
     
    }
    .oferta-fizic{
        
        position: relative;
        width: 80%;
        background-color: rgba(128, 128, 128, 0.206);
        padding: 35px;
        box-shadow: 0 0 8px 8px rgba(128, 128, 128, 0.206);
        margin-bottom: 50px;
        border:none;
        margin-right: none;
        left: 3%;

    }
    .oferta-online{
        position: relative;
        width: 80%;
        background-color: rgba(128, 128, 128, 0.206);
        padding: 35px;
        box-shadow: 0 0 8px 8px rgba(128, 128, 128, 0.206);
        left: 3%;
        
    
    }
    .titlu-fizic{
        position: relative;
        font-size: 35px;
        padding-bottom: 30px;
        left: 5%;
    }
    .titlu-online{
        position: relative;
        font-size: 35px;
        padding-bottom: 30px;
        left: 5%;
        
        
    }
    .titlu-rezultate{
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        width: 380px;
        color: white;
        font-family:myFont3;
        font-size: 40px;
        top: 20px;
        left: 3%;
        
    }
    .rezultate{
        display: flex;
        flex-wrap: wrap;
        width: auto;
        position: relative;
        top: -400px;
        padding-bottom: 100px;
        gap: 20px;
        scale: 0.6;
        left: 4%;
    
        
    }
    .closing{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 80%;
        color: white;
        font-family: myFont3;
        font-size: 20px;
        top: -750px;
        left: 6%;
        padding-bottom: 200px;
        text-align: center;
    }
    .closing-title{
        position: relative;
        display: flex;
        flex-direction: column;
        font-size: 40px;
        justify-content: center;
        padding-bottom: 50px;
        font-family: myFont3;
    }
    
    .contact-form{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 90%;
        height: fit-content;
        color: white;
        font-family: myFont3;
        font-size: 20px;
        top:-900px;
        left:6%;
        padding-bottom: 100px;
        text-align: center;
    }
    form{
        position: relative;
        background-color: rgba(128, 128, 128, 0.206);
        box-shadow: 0 0 8px 8px rgba(128, 128, 128, 0.206);
        color: white;
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        padding-bottom: 40px;
        padding-left: 15px;
        padding-right: 15px;
        width: 90%;
        left: 0%;
    }
    form input, form textarea{
        border: 0;
        margin: 10px 0;
        padding: 20px;
        outline: none;
        background-color: rgba(128, 128, 128, 0.064);
        color: rgb(255, 255, 255);
        font-size: 15px;
    }
    form button{
        padding: 18px;
        background-color: rgba(128, 128, 128, 0.206);
        color: white;
        font-size: 20px;
        border: 0;
        outline: none;
        cursor: pointer;
        width: fit-content;
        border-radius: 5px;
        align-self: center;
    }
    
    
  }

  @media only screen and (width>=430px) {
    body{
        background-size:cover ;
    }
    .header{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgba(128, 128, 128, 0.305);
        width: 100%;
        height:70px;
        font-family:myFont;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }
    .header-text{
        font-size: 18px;
        color: white;
        display: flex;
    }
    .logo-uri{
        position: relative;
        width: fit-content;
        display: flex;
        flex-direction: row;
        scale: 0.6;
      
        
    }
    .logo-insta{
        position: relative;
        height: auto;
        right:20px ;
    
           
    }
    .logo-wapp{
       position:relative;
    }
    
    .text-int{
        position: relative;
        color: white;
        font-family:'Montserrat', sans-serif;
        width: 600px;
        font-size: 40px;
        display: flex;
        flex-direction: column;
      padding-bottom: 30px;
      text-align: center;
        
        
        
    }
    .introducere{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        align-items: center;
        scale: 0.5;
        top: -250px;
        left: 5%;
    }
    .poza-adi{
        top: 100px !important;
        position: relative !important;
    
    }
    .oferte-header{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 250px;
        color: white;
        font-family:myFont3;
        font-size: 40px;
        left: 25%;
        top:-380px;
        text-align: center;
    
    }
    .oferte{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 350px;
        color: white;
        font-family:'Montserrat', sans-serif;
        font-size: 20px;
        left: 13%;
        top:-290px;
     
    }
    .oferta-fizic{
        
        position: relative;
        width: 80%;
        background-color: rgba(128, 128, 128, 0.206);
        padding: 35px;
        box-shadow: 0 0 8px 8px rgba(128, 128, 128, 0.206);
        margin-bottom: 50px;
        border:none;
        margin-right: none;
        left: 3%;

    }
    .oferta-online{
        position: relative;
        width: 80%;
        background-color: rgba(128, 128, 128, 0.206);
        padding: 35px;
        box-shadow: 0 0 8px 8px rgba(128, 128, 128, 0.206);
        left: 3%;
        
    
    }
    .titlu-fizic{
        position: relative;
        font-size: 35px;
        padding-bottom: 30px;
        left: 5%;
    }
    .titlu-online{
        position: relative;
        font-size: 35px;
        padding-bottom: 30px;
        left: 5%;
        
        
    }
    .titlu-rezultate{
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        width: 80%;
        color: white;
        font-family:myFont3;
        font-size: 40px;
        top: -80px;
        left: 15%;
        
    }
    .rezultate{
        display: flex;
        flex-wrap: wrap;
        width: auto;
        position: relative;
        top: -490px;
        padding-bottom: 100px;
        gap: 20px;
        scale: 0.6;
        left: 12%;
    
        
    }
    .closing{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 80%;
        color: white;
        font-family: myFont3;
        font-size: 20px;
        top: -950px;
        left: 16%;
        padding-bottom: 200px;
        text-align: center;
    }
    .closing-title{
        position: relative;
        display: flex;
        flex-direction: column;
        font-size: 40px;
        justify-content: center;
        padding-bottom: 50px;
        font-family: myFont3;
    }
    
    .contact-form{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 80%;
        height: fit-content;
        color: white;
        font-family: myFont3;
        font-size: 20px;
        top:-1100px;
        left:16%;
        padding-bottom: 100px;
        text-align: center;
    }
    form{
        position: relative;
        background-color: rgba(128, 128, 128, 0.206);
        box-shadow: 0 0 8px 8px rgba(128, 128, 128, 0.206);
        color: white;
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        padding-bottom: 40px;
        padding-left: 15px;
        padding-right: 15px;
        width: 90%;
        left: 0%;
    }
    form input, form textarea{
        border: 0;
        margin: 10px 0;
        padding: 20px;
        outline: none;
        background-color: rgba(128, 128, 128, 0.064);
        color: rgb(255, 255, 255);
        font-size: 15px;
    }
    form button{
        padding: 18px;
        background-color: rgba(128, 128, 128, 0.206);
        color: white;
        font-size: 20px;
        border: 0;
        outline: none;
        cursor: pointer;
        width: fit-content;
        border-radius: 5px;
        align-self: center;
    }
    
    
  }


